<link href="~/Content/nas.css" rel="stylesheet" />
<div class="agrupar">
    <header class="cabecera">
        <h1>MR.SANDMAN</h1>
    </header>


    <section class="seccion">
        <img class="image" src="~/Images/images.jpg" />
        <center>
            <div class="n">
                <p>    <b><font color="#ffffff" face="georgia" size="6"><marquee width="300" scrollamount="3">Welcome to NASA Project</marquee></font></b></p><center></center>
                <article>
                    <time datatime="12-10-20">DATE: 04-10-2020</time>
                    <hgroup>

                        <h2>About us</h2>
                    </hgroup>

                    <p>
                        As a group of young students, we accepted NASA's International Space Apps challenge to develop a useful and problem-solving tool which will help astronauts to organize through their exciting lives in space. After doing some research, we concluded that there are three important variables which are highly influential in an astronaut's labour; therefore, if they are not perfectly regulated, it might produce negative impacts in the mission.These variables are: high-quality sleep, an adequate nutritional and an efficient workout plan to avoid strength, resistance and bone density loss. Based on this information we have decided to develop a Sleep Shift Scheduling Tool that provides a better organization regarding each of these aspects. This tool aims to be highly specific for each person that will be involved in the mission. It will be an interactive  assistant  that we named “Mr. Sandman” after the Sandman famous tale. The Sandman is a mythical character in Western and Northern European folklore  who puts people to sleep and encourages and inspires beautiful dreams by sprinkling magical sand onto their eyes.
                    </p>
                    <footer>
                        <p class="btn-boton" onclick="location.href = '/MrSandman/Index'"> Go to demo</p>
                    </footer>
                </article>
            </div>
        </center>
    </section>


    <footer class="pie">
        Mr. Sandman - DEMO
    </footer>
</div>

